.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.7fr 1.7fr 0.5fr;
  grid-template-rows: 0.5fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "choropleth_map violin_plot controllers"
    "choropleth_map parallelCoordinates parallelCoordinates";
}

input[type="range"] {
  margin: 10px;
}

.choropleth_map {
  grid-area: choropleth_map;

  background-color: rgb(66, 132, 243);
  padding: 20px;
  border: 2px solid #333;
  width: 400px;
}

.violin_plot {
  grid-area: violin_plot;

  background-color: rgb(86, 162, 174);
  padding: 20px;
  border: 2px solid #333;
}

.parallelCoordinates {
  grid-area: parallelCoordinates;
  padding: 20px;
  height: 320px;
}

.controllers {
  grid-area: controllers;
  width: 250px;
  background-color: rgb(101, 153, 203);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}

.principal {
  flex: 1;
  background-color: rgb(38, 57, 82);
  padding: 20px;
}

.controllers h2 {
  margin-top: -5px;
  margin-bottom: 10px;
}

.mapOption {
  display: flex;
  margin-bottom: 0px;
}

.mapOption-input {
  background-color: white;
  color: black;
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  min-width: 210px;
  margin-left: 0px;
}

.mapOption-input:hover {
  background-color: rgb(64, 116, 165);
}

.mapOption-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 38px;
  color: black;
  z-index: 2000;
  cursor: pointer;
}

.mapOption-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px;
  cursor: pointer;
}

.mapOption-content a:hover {
  background-color: #f1f1f1;
}

.mapOption-content a.selected {
  background-color: rgb(159, 194, 227);
  color: white;
}

.mapOption:hover .mapOption-content {
  display: block;
}

.header {
  background-color: #2980b9;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.rentOrBuy-container {
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.rentOrBuy-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: -0.5px;
  width: 103px;
}

.rentOrBuy-button:hover {
  background-color: rgb(64, 116, 165);
}

.rentOrBuy-button.selected {
  background-color: rgb(159, 194, 227);
  color: white;
}

.district {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  min-width: 210px;
  margin-left: 0px;
}

.dropbtn:hover {
  background-color: rgb(64, 116, 165);
}

.district-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 2px;
  z-index: 1000;
  max-height: 190px;
  overflow-y: auto;
}

.district-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.district-content a:hover {
  background-color: #f1f1f1;
}

.district-content a.selected {
  background-color: rgb(159, 194, 227);
  color: white;
}

.district:hover .district-content {
  display: block;
}

.condition {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

.condition-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 2px;
  z-index: 1000;
  max-height: 190px;
  overflow-y: auto;
}

.condition-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.condition-content a:hover {
  background-color: #f1f1f1;
}

.condition-content a.selected {
  background-color: rgb(159, 194, 227);
  color: white;
}

.condition:hover .condition-content {
  display: block;
}

.year-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}

.year-input {
  width: 100%;
  padding: 10px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 5px;
  padding-right: 20px;
}

.year-input-container {
  width: 100%;
  position: relative;
}

.year-input-text {
  position: absolute;
  left: 20px;
  top: 47%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}

.parallelCoordinatesSubtitle {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: white;
  margin-bottom: 15px;
}


.violinPlot-selector {
  min-width: 210px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.violinPlot-input {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: -0.5px;
  width: 103px;
}

.violinPlot-input:hover {
  background-color: rgb(64, 116, 165);
}

.violinPlot-input.selected {
  background-color: rgb(159, 194, 227);
  color: white;
}

.tags-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}

.tag {
  display: inline-block;
  background-color: rgb(75, 109, 154);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  white-space: nowrap;
}

.tag:hover {
  background-color: #e76f51;
}

