.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.7fr 1.7fr 0.5fr;
  grid-template-rows: 280px 400px;
  gap: 30px 50px;
  grid-template-areas:
    "choropleth_map violin_plot controllers"
    "choropleth_map parallel_coordinates parallel_coordinates";
}

.choropleth_map {
  grid-area: choropleth_map;

  background-color: lightblue; 
  padding: 20px; 
  border: 2px solid #333;
}

.violin_plot {
  grid-area: violin_plot;

  background-color: lightgreen; 
  padding: 20px; 
  border: 2px solid #333; 
}

.parallel_coordinates {
  grid-area: parallel_coordinates;

  background-color: lightcoral;
  padding: 20px;
  border: 2px solid #333; 
}

.controllers {
  grid-area: controllers;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}

.principal {
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
}

.controllers h2 {
  margin-top: -5px;
  margin-bottom: 10px;
}

.controllers a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 0.1px solid rgba(238, 244, 245, 0.118);
  margin-bottom: 5px;
}

.controllers a:hover {
  background-color: #34495e;
}

.mapOption {
  display: flex; 
  margin-bottom: 0px;
}

.mapOption-input {
  margin-top: 5px;
  margin-bottom: 0px;
  position: relative; 
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
  height: 30px;
  width: 210px;
  background-color: white; 
  border: none;
}

.mapOption-input:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.mapOption-content {
  display: none;
  position: absolute;
  background-color: white; 
  min-width: 210px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  margin-top: 38px;
  color: black;
  z-index: 2000;
  cursor: pointer; 
}

.mapOption-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px; 
  cursor: pointer; 
}

.mapOption-content a:hover {
  background-color: #f1f1f1;
}

.mapOption-content a.selected {
  background-color: #4CAF50;
  color: black;
}

.mapOption:hover .mapOption-content {
  display: block;
}

.header {
  background-color: #2980b9;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.rentOrBuy-container {
  min-width: 210px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px; 
}

.rentOrBuy-button {
  background-color: white; 
  border: none; 
  color: black; 
  padding: 10px 34px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 4px;
  transition: background-color 0.3s; 
  margin-left: -0.5px;
  width: 103px;
}

.rentOrBuy-button:hover {
  background-color: #45a049; 
}

.rentOrBuy-button.selected {
  background-color: #45a049; 
  color: black;
}

.district {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative; 
  display: inline-block;
}

.dropbtn {
  background-color: white; 
  color: black;
  padding: 8px 20px; 
  font-size: 16px; 
  border: none;
  cursor: pointer; 
  border-radius: 4px; 
  transition: background-color 0.3s;
  min-width: 210px;
  margin-left: 0px;
}

.district-btn:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.district-content {
  display: none;
  position: absolute;
  background-color: white; 
  min-width: 210px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  margin-top: 2px;
  z-index: 1000; 
  max-height: 190px;
  overflow-y: auto;
}

.district-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px; 
}

.district-content a:hover {
  background-color: #f1f1f1;
}

.district-content a.selected {
  background-color: #4CAF50;
  color: white;
}

.district:hover .district-content {
  display: block;
}

.condition {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative; 
  display: inline-block;
}

.condition-content {
  display: none;
  position: absolute;
  background-color: white; 
  min-width: 210px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  margin-top: 2px;
  z-index: 1000; 
  max-height: 190px;
  overflow-y: auto;
}

.condition-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px; 
}

.condition-content a:hover {
  background-color: #f1f1f1;
}

.condition-content a.selected {
  background-color: #4CAF50;
  color: white;
}

.condition:hover .condition-content{
  display: block;
}

.year-selector {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 210px; 
}

.year-input {
  width: 100%; 
  padding: 10px; 
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 5px; 
}
